/* this is how you use comments in CSS */

html {
    background-color: rgb(125, 164, 173);
}

header {
    font-family: 'Rubik Bubbles', 'Arial', 'sans-serif';
    color: rgb(245, 228, 228);
    background-color: rgb(15, 22, 142);
    padding: 10px;
}

body {
    color: brown;
    margin: 0;
}

ul {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
}

li {
    display: inline;
}

#nav {
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width: 24%;
    color: aliceblue;
    background-color: yellowgreen;
    transition: background-color 1s ease, color 1s;
}

#nav:hover {
    background-color: rgb(0, 255, 242);
    color: black;
}

canvas {
    width: 60%;
    position: sticky;
    top: 0;
    display: block;
    border-style: groove;
    border-radius: 5px;
    border-color: black;
    margin: 0 auto;
}

article {
    display: block;
    float: left;
    text-align: center;
    border: 5px solid rgb(83, 7, 183);
    border-style: double;
    border-radius: 10px;
    margin-top: 7%;
    margin-right: 35%;
    margin-left: 35%;
    padding: 10px;
    font-size: larger;
}

aside {
    /*  to do: should appear next to article or canvas on the right border of the screen */
}

#findex {
    text-align: right;
    position: sticky;
    bottom: 0;
}